# Dependencies
node_modules/
/client/node_modules/
/server/node_modules/

# Local Environment Variables
.env
.env.local
.env.*.local
/server/.env

# Build Output
/client/dist/

# Log Files
*.log
/server/seed.log

# System Files
.DS_Store
Thumbs.db
